button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .card {
    position: relative;
    background-color: var(--white);
    border-radius: 7px;
    padding: 20px 20px 10px;
    display: flex;
    flex-flow: row wrap;
  }
  .card > *, .textContent > * {
    flex: 1 1 100%;
  }
  .card > * + * {
    padding: 13px 0 0;
  }
  .card:hover h2 a, .card:focus-within h2 a {
    color: var(--orange);
  }
  
  @media all and (min-width: 1024px) {
    .card {
      background-color: transparent;
      flex-flow: row nowrap;
      max-height: 107px;
      padding: 0 40px;
    }
    .card > * {
      flex: 0 0;
    }
    .card > * + * {
      padding: 0;
    }
  }
  
  @media all and (min-width: 1540px) {
    .card {
      padding: 20px 60px;
      max-height: 147px;
      cursor: pointer;
    }
    .card:hover, .card:focus-within {
      outline: 1px solid var(--grey-demi-dark);
    }
  }
  
  /*preview*/
  .preview {
    max-height: 178px;
    margin: 0 -20px;
  }
  
  .previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media all and (min-width: 1024px) {
    .preview {
      flex-basis: 190px;
      order:      0;
      margin:     0;
    }
  }
  
  /*textcontent*/
  .textContent {
    display: flex;
    flex-flow: row wrap;
  }
  .textContent > * + * {
    padding: 7px 0 0;
  }
  
  
  
  @media all and (min-width: 1024px) {
    .textContent {
      flex-basis: 540px;
      order: 1;
      margin: 0 0 0 38px;
      flex-flow: column-reverse nowrap;
      justify-content: center;
    }
    .textContent > * {
      flex: 0 0;
    }

  }
  
  @media all and (min-width: 1540px) {
    .textContent {
      flex-basis: 672px;
    }
  }

  /*controls*/
  .controls {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  
  .actions {
    display: flex;
    flex-flow: row nowrap;
  }
  .actions > * + * {
    margin: 0 0 0 13px;
  }
  
  @media all and (min-width: 1024px) {
    .controls {
      order: 3;
      flex: 0 0;
      margin: 0 0 0 24px;
    }
  
    .actions {
      display: none;
    }
  }

  
 
  
  /*menu*/
  .menu {
    position: absolute;
    top: 17px;
    right: 15px;
    padding: 0;
  }
  
  .menuButton {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 31px;
  }
  .menuButton:active {
    background-color: rgba(51, 51, 51, 0.1);
  }
  
  .dropdown {
    position: absolute;
    right: 0;
    top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: var(--white);
  }
  
  .closeButton {
    background-color: var(--greyD9);
    padding: 12px 23px;
    border-radius: 0 0 3px 3px;
    width: 100%;
  }
  
  @media all and (min-width: 1024px) {
    .menu {
      position: relative;
      order: 2;
      display: flex;
      align-items: center;
      flex: 0 0;
      top: unset;
      right: unset;
      margin: 0 0 0 auto;
    }
  
    .menuButton {
      align-self: center;
      transform: unset;
    }
  }
  
  @media all and (min-width: 1540px) {
    .menuButton:hover {
      background-color: rgba(51, 51, 51, 0.1);
    }
  }

  