.metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
  }
  
  .publishedLabel {
    display: none;
  }
  
  .createdAt, .createdAt span {
    color: var(--grey99);
  }

  .avatar {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
  }
  
  .username {
    color: var(--orange);
    position: relative;
    z-index: 1;
  }
  
  
  @media all and (min-width: 1024px) {
    .metaData {
      flex-flow: row-reverse nowrap;
      justify-content: flex-end;
      font-size: 14px;
      line-height: 16px;
    }
  
    .publishedLabel {
      display: inline;
    }
  }
  
   /*userlink*/
   .userLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
    padding: 0 6px 0 0;
  }
  
  @media all and (min-width: 1024px) {
    .userLink {
      padding: 0 0 0 5px;
    }
  }
  
  @media all and (min-width: 1540px) {
    .userLink:hover a {
      text-decoration: underline;
    }
  }